pkgbase = linux-orangepi4-dtbs
	pkgdesc = Orange Pi 4 DTBs from Armbian
	pkgver = 5.8.0
	pkgrel = 2
	url = https://github.com/armbian/build/tree/master/patch/kernel/rockchip64-current
	arch = aarch64
	license = GPL2
	makedepends = git
	makedepends = dtc
	depends = linux-aarch64
	source = http://www.kernel.org/pub/linux/kernel/v5.x/linux-5.8.tar.xz
	source = config
	source = armbian-patches::git+https://github.com/armbian/build.git#commit=36405e3397b68600bdd2c34d5a7bcfa0a09b1226
	source = 0001-arm64-dts-Fix-rk3399-orangepi-4-dts-symbol-usage.patch
	source = 0002-arm64-dts-rockchip-Fix-USB-C-port-on-Orange-Pi-4.patch
	md5sums = 0e5c4c15266218ef26c50fac0016095b
	md5sums = cc2ae6ac43ab9e6170bfed62f73e4968
	md5sums = SKIP
	md5sums = 67e1998c82ab2d06a78f8eb57cb69132

pkgname = linux-orangepi4-dtbs

